{% extends "::layout.html.twig" %}

{% block content %}
    <div class="box inscription" >
        <img src="{{ asset('images/logoEdu.png') }}" alt="logo education nationale"/>
        <br />
        <div class="box ">
            Cette application permet de vous inscrire à 
            des séances d'un séminaire, tenant compte des places disponibles.
        </div>  
    </div>
    <div class="box inscription" >
        Développeurs : Olivier Capuozzo, Patrice Grand, Eric dondelinger  (réseau certa)<br/>
        Responsables infrastucture système et réseau : Frédéric Varni, Olivier Korn  (réseau certa)<br/>
        Expression des besoins : Christine Gaubert Macon, Eric Deschaintre (réseau certa), Miriam Benac  
    </div>
{% endblock %}
