{% extends "SioSemiBundle::layout.html.twig" %}

{% block content %}

  {% if error is defined %}
    <div class="alert alert-danger">Combinaison E-mail/mot de passe incorrecte !</div>
{% endif %}
  
  <div class="thumbnail" style="background-color:#337AB7;padding-left:2em;padding-right:2em;padding-bottom:1em;color:white;">
        <div id="login-register-label"><h2>Connexion</h2></div>
        <hr>
                    
        <div id="login-register-form">
            <form action="{{ path('login_check') }}" method="post">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">></span>
                    <input type="text" name="_username" class="form-control" placeholder="E-Mail" aria-describedby="basic-addon1" value="{{ last_username }}"><br>
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon">></span>
                    <input type="password" name="_password" class="form-control" placeholder="Mot de passe" aria-describedby="basic-addon2">
                </div>
                <input type="submit" class="btn btn-sm btn-success" style="width:100%;" value="Se connecter">
            </form>
        </div>
                    
        <hr>
                    
        <table style="width:100%;">
            <tr>
                <td>
                    <div id="login-register-switchLabel">
                        <p class="connexion"><a class="connexion" href="{{ path('_semi_default_register') }}">... Ou cliquez ici pour vous inscrire !</a></p>
                    </div>
                </td>
        </table>
    </div>
{% endblock %}