{% extends "SioSemiBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="thumbnail" style="background-color:#337AB7;padding-left:2em;padding-right:2em;padding-bottom:1em;color:white;">
                    <div id="login-register-label"><h2>Inscription</h2></div>
                    <hr>
                    
                    <div id="login-register-form">
                        
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">></span>
                                <input type="text" id="mail" name="mail" class="form-control" placeholder="E-Mail" aria-describedby="basic-addon1"><br>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon">></span>
                                <input type="text" id="clef" name="clef" class="form-control" placeholder="Clé d'inscription *" aria-describedby="basic-addon2">
                            </div>
                            <div id="input-group" class="input-group"></div>
                            <input type="submit" class="btn btn-sm btn-success" style="width:100%;" value="S'enregistrer" onClick="semiRegisterAjax();">
                        
                    </div>
                    
                    <hr>
                    
                        <table style="width:100%;">
                            <tr>
                                <td style="width:50%;margin:auto;">
                                    <div id="login-register-help" class="col-md-12" style="text-align:right;">
                                        <p class="help">* Une clé d'inscription à un séminaire est nécessaire pour s'enregistrer.</p>
                                    </div>
                                </td>
                                <td>
                                    <div id="login-register-switchLabel">
                                        <p class="connexion" onClick="showLogin();">... Ou cliquez ici pour vous connecter !</p>
                                    </div>
                                </td>
                        
                        </table>
                    

            </div>
        </div>
        
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <center><h2>Description de l'application</h2></center>
            <hr>
            <p style="text-indent:35px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus lectus ante, maximus sed eleifend quis, aliquam sit amet dolor. Donec placerat erat vel tellus sollicitudin accumsan. Sed quis fringilla massa. Ut auctor lectus at imperdiet blandit. Quisque dictum justo velit, non consectetur justo tempor vel. In id urna risus. Ut dapibus pellentesque orci, ut mattis metus lobortis vel. Nulla sit amet leo ac magna posuere pulvinar. Aliquam facilisis tincidunt mi. Morbi vestibulum lacus at risus posuere, vel maximus lectus posuere. Donec dictum at nibh vel lacinia. Praesent sed dui egestas, posuere metus vel, finibus purus.</p>
        </div>
    </div>

    <hr>
{% endblock %}