{% extends "SioSemiBundle::layout.html.twig" %}

{% block content %}
    <h1>Désolé</h1>

    <p>la demande ne peut aboutir...<br>
      <a href="{{ path('_semi_default_index') }}">retour à la page d'accueil</a>.
    </p>
{% endblock %}