{% extends "SioSemiBundle::layout.html.twig" %}

{% block body %}
    <h1>Oups !</h1>

    <p>
      Désolé, la demande ne peut aboutir...<br>
      <a href="{{ path('_semi_default_index') }}">retour à la page d'accueil</a>.
    </p>
{% endblock %}