{% extends "SioSemiBundle::layout.html.twig" %}

{% block content %}
  <div class='panel panel-warning'>
    <div class='panel-heading'>
      <strong>Désolé</strong>
    </div>
    <div class='panel-body'>
      <p>la demande ne peut aboutir...<br>
        <a href="{{ path('_semi_default_index') }}">retour à la page d'accueil</a>.
      </p>
    </div>
  </div>

{% endblock %}