# Bootstrap
app/bootstrap.php.cache

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/framework/*
web/bundles/sensiodistribution/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
## app/config/config_dev.yml
/nbproject/private/
/PhpProject1/nbproject/private/