{% extends "SioSemiBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <center><h2>Paramètres natifs à l'application</h2></center>
            <hr>
            <form action="{{ path('_semi_admin_parameter_check') }}" method="post">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Clé</span>
                        <input name="clef1" type="text" class="form-control" placeholder="Clé" aria-describedby="basic-addon1" value="{{ clef }}" readonly>
                        <span class="input-group-addon" id="basic-addon1">Valeur</span>
                        <input name="value1" type="text" class="form-control" placeholder="Valeur" aria-describedby="basic-addon1" value="{{ valeur }}">
                    </div>
            
                <hr>
                <div style="text-align:right;width:100%;">              
                    <input type="submit" class="btn btn-lg btn-success" style="text-align:right;" value="Sauvegarder">
                </div>
            </form>            
        </div>
    </div>
{% endblock %}