{% set menuItemProfile = "admin" %}
{% extends "SioSemiBundle::layout.html.twig" %}

{% block content %}
<h1>Welcome to the Admin:users page</h1>
{#
donner un role à un user en ligne de commande (via FOSUserBundle) :
 php app/console fos:user:promote olivier.capuozzo@gmail.com8 ROLE_MANAGER
#}
{% endblock %}
