.connexion
{
    text-decoration:underline;
    text-align:right;
    cursor:pointer;
    color:white;
}

.help
{
    text-align:left;
    color:white;
}

th.dataTableHeader {
	color: #fff;
	background-color: #052d92;
	padding: 5px;
	border: #fff 1px solid;
	text-align: center;
}

.table>tbody>tr>td.atelier,
.table>tbody>tr>th.atelier, 
td.atelier {
  padding:0 0 5px 25px; 
  background-color: #f2f5f2;
  background:url(../images/atelier.png) no-repeat 0 0; 
}

tr.odd_row_atelier {
  background-color: #eae3e3
	/* background-color: #66afe9; */
}

tr.even_row_atelier{
  background-color: #f2f5f2; 
	/*background-color: #269abc; */
}

tr.odd_row:hover tr.odd_row_atelier:hover a:hover,
tr.even_row:hover tr.even_row_atelier:hover a:hover {
}
