{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Hello " ~ name  ~ firstname%}

{% block content %}
    <h1>
Hello <strong>{{ firstname }} - </strong>({{firstname}} {{name}})
</h1>

{% endblock %}

{% set code = code(_self) %}
